/* You can add global styles to this file, and also import other style files */

.active{
    color: rgb(11, 26, 164) !important;
}
  
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}